/* header */
#header {
  .inner {
    box-sizing: border-box;
    border-bottom: 0.1rem solid $box-line;
    padding: 0 2rem 0 1.6rem; // 헤더 사이즈 고정
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.2rem; // 헤더 사이즈 고정
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    width: 100%;
    max-width: 100%;
    background-color: $white-color;
    transition: transform 0.3s;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    &::before {
      content: '';
      display: block;
      margin-right: 0.2rem;
      width: 2rem;
      height: 2rem;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../img/logo.png');
    }
  }
  .btn-search {
    flex: none;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.4rem;
    border-radius: 0;
    padding: 0;
    margin-left: 0.8rem;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 4C6.68629 4 4 6.68629 4 10C4 13.3137 6.68629 16 10 16C13.3137 16 16 13.3137 16 10C16 6.68629 13.3137 4 10 4ZM2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 11.8487 17.3729 13.551 16.3199 14.9056L21.7071 20.2929C22.0976 20.6834 22.0976 21.3166 21.7071 21.7071C21.3166 22.0976 20.6834 22.0976 20.2929 21.7071L14.9056 16.3199C13.551 17.3729 11.8487 18 10 18C5.58172 18 2 14.4183 2 10Z' fill='black'/%3E%3C/svg%3E%0A");
  }
  .commonSearch {
    position: absolute;
    top: 7.2rem;
  }
}
.searchOpen {
  #header {
    .btn-search {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.05752 7.05703C7.57822 6.53633 8.42244 6.53633 8.94313 7.05703L16.0003 14.1142L23.0575 7.05703C23.5782 6.53633 24.4224 6.53633 24.9431 7.05703C25.4638 7.57773 25.4638 8.42195 24.9431 8.94265L17.8859 15.9998L24.9431 23.057C25.4638 23.5777 25.4638 24.4219 24.9431 24.9426C24.4224 25.4633 23.5782 25.4633 23.0575 24.9426L16.0003 17.8855L8.94313 24.9426C8.42244 25.4633 7.57822 25.4633 7.05752 24.9426C6.53682 24.4219 6.53682 23.5777 7.05752 23.057L14.1147 15.9998L7.05752 8.94265C6.53682 8.42195 6.53682 7.57773 7.05752 7.05703Z' fill='%231A1B1D'/%3E%3C/svg%3E");
    }
  }
}

.inner {
  max-width: 120rem;
  margin: auto;
  padding: 0 2rem;
}

/* footer */
#footer {
  position: absolute;
  background-color: $box-line;
  height: 15rem;
  bottom: 0;
  left: 0;
  right: 0;
  .inner {
    padding: 2rem;
  }
}

#wrap {
  padding-top: 7.2rem;
  padding-bottom: 15rem;
  box-sizing: border-box;
  height: 100vh;
  min-height: 50rem;
  position: relative;
}

#container {
  position: relative;
}
