/* header */
#header {
  .inner {
    box-sizing: border-box;
    border-bottom: 0.2rem solid $primary-color;
    padding: 0 2rem 0 1.6rem; // 헤더 사이즈 고정
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.2rem; // 헤더 사이즈 고정
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    width: 100%;
    max-width: 100%;
    background-color: $white-color;
    transition: transform 0.3s;
    z-index: 10;
    & + .inner {
      z-index: 9;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    &::before {
      content: '';
      display: block;
      margin-right: 0.2rem;
      width: 2rem;
      height: 2rem;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../img/logo.png');
    }
  }
  .btn-search {
    flex: none;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.4rem;
    border-radius: 0;
    padding: 0;
    margin-left: 0.8rem;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 4C6.68629 4 4 6.68629 4 10C4 13.3137 6.68629 16 10 16C13.3137 16 16 13.3137 16 10C16 6.68629 13.3137 4 10 4ZM2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 11.8487 17.3729 13.551 16.3199 14.9056L21.7071 20.2929C22.0976 20.6834 22.0976 21.3166 21.7071 21.7071C21.3166 22.0976 20.6834 22.0976 20.2929 21.7071L14.9056 16.3199C13.551 17.3729 11.8487 18 10 18C5.58172 18 2 14.4183 2 10Z' fill='black'/%3E%3C/svg%3E%0A");
  }
  .commonSearch {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 9;

    .inner {
      position: relative;
      padding-bottom: 2rem;
      padding-top: 2rem;
      height: auto;
      gap: 0.8rem;
      background-color: $primary-blue3;
      align-items: end;
      border-width: 0.1rem;
      .flex {
        margin-top: 0;
        gap: 0.8rem;
      }
      dt {
        font-size: 1.2rem;
        margin-bottom: 0.4rem;
        font-weight: 600;
      }
      @include media-max-width(780) {
        height: 100%;
        flex-direction: column;
        .flex {
          width: 100%;
          &.mr-10,
          &.ml-10 {
            margin: 0 !important;
          }
          .date-wrap {
            .input-box {
              width: 100%;
            }
          }
        }
      }
    }
    .bj-wrap {
      position: relative;
      &::before {
        content: '';
        display: block;
        height: calc(100% - 2rem);
        width: 0.1rem;
        background-color: #949494;
        position: absolute;
        left: -1.4rem;
        bottom: 0;
      }
    }
    .btn-primary {
      font-size: 1.6rem;
      margin-top: 1.2rem;
      @include media-min-width(781) {
        height: 10.5rem;
        margin: 0;
      }
    }
  }
}
.searchOpen {
  @include media-max-width(780) {
    overflow: hidden;
  }
  #header {
    .btn-search {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.05752 7.05703C7.57822 6.53633 8.42244 6.53633 8.94313 7.05703L16.0003 14.1142L23.0575 7.05703C23.5782 6.53633 24.4224 6.53633 24.9431 7.05703C25.4638 7.57773 25.4638 8.42195 24.9431 8.94265L17.8859 15.9998L24.9431 23.057C25.4638 23.5777 25.4638 24.4219 24.9431 24.9426C24.4224 25.4633 23.5782 25.4633 23.0575 24.9426L16.0003 17.8855L8.94313 24.9426C8.42244 25.4633 7.57822 25.4633 7.05752 24.9426C6.53682 24.4219 6.53682 23.5777 7.05752 23.057L14.1147 15.9998L7.05752 8.94265C6.53682 8.42195 6.53682 7.57773 7.05752 7.05703Z' fill='%231A1B1D'/%3E%3C/svg%3E");
    }
    .commonSearch {
      opacity: 1;
      top: 7.2rem;
      visibility: visible;
      @include media-max-width(780) {
        &::before {
          content: '';
          display: block;
          position: fixed;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  #container {
    @include media-min-width(781) {
      padding-top: 20rem;
      padding-bottom: 20rem;
    }
  }
}

.inner {
  max-width: 120rem;
  margin: auto;
  padding: 0 2rem;
}

/* footer */
#footer {
  position: fixed;
  background-color: $background-color;
  border-top: 0.1rem solid $box-line;
  bottom: 0;
  left: 0;
  right: 0;
  .inner {
    padding: 2rem;
    display: flex;
    align-items: center;
    height: 10rem;
  }
  .logo {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    &::before {
      content: '';
      display: block;
      margin-right: 0.2rem;
      width: 2rem;
      height: 2rem;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../img/logo.png');
    }
  }
  .flex-column {
    margin-left: auto;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-end;
    a {
      font-weight: 600;
      display: inline-flex;
      &::after {
        content: '';
        margin-left: 0.2rem;
        width: 2.2rem;
        height: 2.2rem;
        position: relative;
        top: -0.2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 512 512' version='1.1'%3E%3Cpath fill='%23000000' d='M253.722 32C297.607 32 338.196 40.5332 375.489 57.5996C412.782 74.6659 442.265 97.8726 463.936 127.22C485.608 156.567 496.444 188.577 496.444 223.252C496.444 257.926 485.608 289.982 463.936 319.42C442.265 348.857 412.827 372.109 375.625 389.175C338.422 406.241 297.787 414.775 253.722 414.775C239.816 414.775 225.458 413.781 210.65 411.795C146.357 456.402 112.134 478.977 107.98 479.518C105.994 480.241 104.098 480.151 102.292 479.248C101.569 478.706 101.027 477.983 100.666 477.08C100.305 476.177 100.124 475.365 100.124 474.642V473.559C101.208 466.515 109.425 437.169 124.776 385.518C89.9207 368.181 62.2443 345.2 41.7466 316.575C21.2489 287.951 11 256.843 11 223.252C11 188.577 21.8358 156.567 43.5074 127.22C65.179 97.8726 94.6614 74.6659 131.955 57.5996C169.248 40.5332 209.837 32 253.722 32ZM130.736 273.909V190.744H152.136C155.026 190.744 158.051 189.706 161.211 187.629C164.372 185.552 165.952 182.708 165.952 179.096C165.952 175.484 164.507 172.459 161.618 170.021C158.728 167.583 155.929 166.364 153.22 166.364H82.7872C79.717 166.364 76.8275 167.267 74.1185 169.073C71.4096 170.879 70.0551 173.859 70.0551 178.012C70.0551 182.166 71.4999 185.327 74.3894 187.494C77.279 189.661 80.5297 190.744 84.1416 190.744H105.542V273.909C105.542 278.424 106.626 282.126 108.793 285.016C110.96 287.905 114.03 289.35 118.003 289.35C121.977 289.35 125.092 287.725 127.349 284.474C129.607 281.223 130.736 277.702 130.736 273.909ZM248.033 289.35C254.715 286.822 256.792 280.411 254.264 270.117C253.541 267.769 248.439 253.728 238.958 227.992C229.477 202.257 224.014 187.584 222.569 183.972C217.693 172.233 211.011 166.364 202.523 166.364C193.312 166.364 186.179 172.233 181.122 183.972C179.677 187.042 174.169 201.987 164.597 228.805C155.026 255.624 150.059 269.394 149.698 270.117C148.434 271.742 148.118 274.722 148.75 279.056C149.382 283.391 151.324 286.37 154.574 287.996C158.186 289.621 161.708 289.802 165.139 288.538C168.571 287.273 170.918 285.377 172.182 282.849L178.684 264.97H225.82C227.806 271.471 229.251 275.715 230.154 277.702C231.057 279.508 232.05 281.314 233.134 283.12C234.217 284.926 236.204 286.686 239.094 288.402C241.983 290.118 244.963 290.434 248.033 289.35ZM320.904 289.35C324.696 289.35 328.173 288.176 331.333 285.829C334.494 283.481 336.074 280.32 336.074 276.347C336.074 272.374 334.629 269.259 331.74 267.001C328.85 264.744 325.238 263.615 320.904 263.615H290.834V181.805C290.834 178.012 289.706 174.491 287.448 171.24C285.191 167.989 282.076 166.364 278.102 166.364C274.129 166.364 271.059 167.809 268.892 170.698C266.725 173.588 265.641 177.29 265.641 181.805V273.909C265.641 278.424 266.725 282.126 268.892 285.016C271.059 287.905 274.129 289.35 278.102 289.35C278.283 289.35 278.599 289.305 279.051 289.215C279.502 289.124 279.818 289.079 279.999 289.079C280.179 289.079 280.495 289.124 280.947 289.215C281.398 289.305 281.714 289.35 281.895 289.35H320.904ZM427.636 287.454C430.707 284.564 432.242 281.268 432.242 277.566C432.242 273.864 431.068 270.568 428.72 267.679C427.636 266.053 416.259 250.793 394.587 221.897C405.062 211.242 415.627 200.587 426.282 189.932C428.991 187.223 430.661 184.017 431.293 180.315C431.926 176.613 430.887 173.136 428.178 169.886C425.108 166.996 421.812 165.822 418.29 166.364C414.769 166.906 411.473 168.712 408.403 171.782C407.861 172.324 405.513 174.716 401.36 178.96C397.206 183.205 391.833 188.668 385.241 195.35C378.65 202.032 372.825 207.991 367.769 213.229V181.805C367.769 178.012 366.64 174.491 364.382 171.24C362.125 167.989 359.01 166.364 355.037 166.364C351.063 166.364 347.993 167.809 345.826 170.698C343.659 173.588 342.575 177.29 342.575 181.805V273.909C342.575 278.424 343.659 282.126 345.826 285.016C347.993 287.905 351.063 289.35 355.037 289.35C359.01 289.35 362.125 287.725 364.382 284.474C366.64 281.223 367.769 277.702 367.769 273.909V249.258C368.491 248.535 369.845 247.136 371.832 245.059C373.819 242.982 375.444 241.311 376.708 240.047C388.628 256.301 399.283 270.658 408.674 283.12C411.202 286.551 414.137 288.763 417.478 289.757C420.819 290.75 424.205 289.982 427.636 287.454ZM185.998 240.589L202.523 192.099L218.776 240.589H185.998Z'/%3E%3C/svg%3E");
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#wrap {
  padding-top: 7.2rem;
  padding-bottom: 14rem;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
}

#container {
  position: relative;
  padding-top: 4rem;
  .tit {
    font-size: 2.4rem;
  }
  .sub-tit {
    font-size: 1.8rem;
  }
}

.date-wrap {
  display: flex;
  gap: 2rem;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 1rem;
    height: 0.1rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $black-color;
    position: absolute;
  }
  .input-box {
    width: 16rem;
    display: flex;
  }
}
.date-input {
  input {
    background-position: right center;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 2C8.55228 2 9 2.44772 9 3V4H15V3C15 2.44772 15.4477 2 16 2C16.5523 2 17 2.44772 17 3V4H19C20.6569 4 22 5.34315 22 7V19C22 20.6569 20.6569 22 19 22H5C3.34315 22 2 20.6569 2 19V7C2 5.34315 3.34315 4 5 4H7V3C7 2.44772 7.44772 2 8 2ZM7 6H5C4.44772 6 4 6.44772 4 7V19C4 19.5523 4.44772 20 5 20H19C19.5523 20 20 19.5523 20 19V7C20 6.44772 19.5523 6 19 6H17V7C17 7.55228 16.5523 8 16 8C15.4477 8 15 7.55228 15 7V6H9V7C9 7.55228 8.55228 8 8 8C7.44772 8 7 7.55228 7 7V6ZM6 11C6 10.4477 6.44772 10 7 10H17C17.5523 10 18 10.4477 18 11C18 11.5523 17.5523 12 17 12H7C6.44772 12 6 11.5523 6 11Z' fill='black'/%3E%3C/svg%3E");
  }
}

// 등록 폼
.regist-form {
  max-width: 78rem;
  margin: auto;
  .flex {
    margin-top: 1.6rem;
  }
  dl {
    dt {
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 0.4rem;
    }
  }
  .del-data {
    flex-direction: column;
    .btn-red {
      margin-left: 0 !important;
      width: 100% !important;
      margin-top: 1.2rem;
    }
  }
}
