/* input reset */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* 공통 input 스타일 시작 */
.input-box {
  position: relative;
  font-size: 1.4rem;
  input {
    color: $input-txt;
    border-color: transparent;
    background-color: transparent;
    font-weight: 400;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.4rem;
  }
  &.inline-flex {
    .inline-flex + .btn {
      margin-left: 0.8rem;
      min-width: 10rem;
      width: auto;

      @include media-min-width(1025) {
        margin-left: 1.2rem;
        min-width: 20rem;
      }
    }
  }

  // 인풋 이외의 요소들
  .input-etc {
    position: relative;
    margin-left: auto;
    display: inline-flex;
    //gap: 0 0.8rem;
    padding-left: 0.8rem;
    align-items: center;
    flex: 0 0 auto;
    button {
      width: 2rem;
      height: 2rem;
      padding: 0;
      font-size: 0;
      margin: 0;
      background-size: contain;
      background-position: center;
      border: 0;
      background-repeat: no-repeat;

      &.input-del {
        opacity: 0;
        width: 0;
        flex: 0 0 auto;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.6665 10.0003C1.6665 5.39795 5.39746 1.66699 9.99984 1.66699C14.6022 1.66699 18.3332 5.39795 18.3332 10.0003C18.3332 14.6027 14.6022 18.3337 9.99984 18.3337C5.39746 18.3337 1.6665 14.6027 1.6665 10.0003ZM7.19142 7.19191C7.48728 6.89606 7.96695 6.89606 8.2628 7.19191L9.99984 8.92895L11.7369 7.19191C12.0327 6.89606 12.5124 6.89606 12.8083 7.19191C13.1041 7.48776 13.1041 7.96743 12.8083 8.26329L11.0712 10.0003L12.8083 11.7374C13.1041 12.0332 13.1041 12.5129 12.8083 12.8087C12.5124 13.1046 12.0327 13.1046 11.7369 12.8087L9.99984 11.0717L8.2628 12.8087C7.96695 13.1046 7.48728 13.1046 7.19142 12.8087C6.89557 12.5129 6.89557 12.0332 7.19142 11.7374L8.92846 10.0003L7.19142 8.26329C6.89557 7.96743 6.89557 7.48776 7.19142 7.19191Z' fill='%23727272'/%3E%3C/svg%3E");
      }
    }
  }

  &.hasValue {
    .input-etc {
      button {
        &.input-del {
          width: 2rem;
          opacity: 1;
        }
      }
    }
  }

  .inline-flex {
    width: 100%;
    align-items: center;
    border-radius: 0.4rem;
    border-width: 0.1rem;
    padding: 0.6rem 1.2rem 0.6rem 1.6rem;
    border-style: solid;
    border-color: $input-line;
    background-color: $white-color;
    &.p-0 {
      padding: 0;
    }
    &.disabled {
      border-color: $input-disabled-line;
      background-color: $input-disabled-bg;

      input {
        color: $input-disabled-txt;
      }
    }

    &.readonly {
      background-color: #f4f4f7;
      border-color: #eee;
    }

    &.bg-gray {
      background-color: $readonly-color;
    }

    input {
      line-height: 2.4rem;

      &::placeholder {
        color: $placeholder;
      }
    }
    .placeholder {
      color: $placeholder;
      font-weight: 400;
    }
    .max-lengTxt {
      font-size: 1.2rem;
      font-weight: 600;
      color: $primary-color;
      margin-right: 0.4rem;
    }
  }

  &.readOnly {
    .inline-flex {
      background-color: $readonly-color;
    }
  }
  div.text {
    word-break: break-all;
  }
}
/* 일반 셀렉트박스 시작 */
/* IE */
select::-ms-expand {
  display: none;
}

.select-box {
  position: relative;
  width: 100%;
  min-width: 15rem;
  height: 3.8rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #949494;
  background-color: $white-color;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.57757 6.91058C3.90301 6.58514 4.43065 6.58514 4.75609 6.91058L10.0002 12.1547L15.2442 6.91058C15.5697 6.58514 16.0973 6.58514 16.4228 6.91058C16.7482 7.23602 16.7482 7.76366 16.4228 8.08909L10.5894 13.9224C10.264 14.2479 9.73634 14.2479 9.41091 13.9224L3.57757 8.08909C3.25214 7.76366 3.25214 7.23602 3.57757 6.91058Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1.4rem;
  background-position: calc(100% - 1.2rem) center;
  cursor: pointer;
  .label {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 1.5rem;
    background: transparent;
    cursor: pointer;
    font-size: 1.4rem;
    color: $placeholder;
    font-weight: 400;
  }
  .optionList {
    position: absolute;
    top: 4.2rem;
    left: 0;
    width: 100%;
    border: 0.2rem #949494 solid;
    background: $background-color;
    color: #000;
    list-style-type: none;
    padding: 0;
    border-radius: 0.6rem;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s ease-in max-height;
    font-size: 1.4rem;
    opacity: 0;
    box-shadow: -0.1rem 0.7rem 1.1rem -0.4rem rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -0.1rem 0.7rem 1.1rem -0.4rem rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -0.1rem 0.7rem 1.1rem -0.4rem rgba(0, 0, 0, 0.25);
    &::-webkit-scrollbar {
      width: 0.6rem;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #303030;
      border-radius: 4.5rem;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #303030;
    }
  }
  .optionItem {
    border-bottom: 0.1rem solid #949494;
    padding: 0.8rem 1.6rem 0.8rem;
    &:last-child {
      border: 0;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
  &.active {
    .optionList {
      max-height: 30rem;
      z-index: 10;
      opacity: 1;
    }
  }
}

/* 일반 셀렉트박스 끝 */

/* 달력 */
.qs-datepicker-container {
  width: auto !important;
}
.qs-datepicker {
  font-size: 1.6rem; /* 기본 폰트 크기를 1rem으로 설정 */
  width: 22rem; /* 달력의 전체 너비 조정 */
  .qs-squares {
    padding: 0.8rem;
  }
}
/* customClass 스타일 */
.qs-controls {
  background-color: $primary-blue1 !important;
  color: $black-color;
}
.qs-day {
  color: #333;
}
.qs-active,
.qs-range-middle {
  background-color: #4caf50;
  color: white;
}
/* 일요일 (첫 번째 열) 색상 변경 */
.qs-day:nth-child(7n + 1),
.qs-num:nth-child(7n + 1) {
  color: $error-color;
}
/* 토요일 (마지막 열) 색상 변경 */
.qs-day:nth-child(7n),
.qs-num:nth-child(7n) {
  color: $primary-blue4;
}
